body{
    height:200%;
}

.sidebar{
    position: fixed;    
    height: 100vh;
    width: 150px;
    background-color: rgb(85, 85, 85);
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
}
#mainTitleText{
    font-size:70px;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    top:300px;
}
#yellowTitle{
    color:yellow;
}
#smallTitle{
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    top:350px;
    font-size:25px;
}
.navbar{
    margin-bottom:15px;
}
/* .maintitle{
    position:fixed;
    margin-left: 80px;
    background-color: rgb(40, 100, 212);
    text-align:right;
    color:white;
    width:95%;
    font-weight: 700;
}
.maintitle h1{
    margin: 10px;
    margin-right: 50px;
    font-size : 30px;
} */
#content{
    position:fixed;
    
    background-size: cover;
    background-position:100% 60%;
    width: 86.5vw;
    height:95vh;
    margin:20px 20px 20px 20px;
    margin-left: 175px;
    transition: top 0.3s;
    z-index:10;
}
.background{
    background-image: url('bckg.png');
    background-color: rgba(126, 126, 126, 0.7);
    z-index: 1;
    
}
/* button attributes start */
.print{

    background:none;
    border:none;
    color:rgb(122, 122, 122);
    font-size: 18px;
    
}
.verify{
    background:none;
    border:none;
    color:rgb(122, 122, 122);
    font-size: 18px;
}
.lookup{
    background:none;
    border:none;
    color:rgb(122, 122, 122);   
    font-size: 18px;
}
.contains{
    background:none;
    border:none;
    color:rgb(122, 122, 122);
    font-size: 18px;
}

.update{
    background:none;
    border:none;
    color:rgb(122, 122, 122);
    font-size: 18px;
}

.list{
    background:none;
    border:none;
    color:rgb(122, 122, 122);
    font-size: 18px;
}

.add{
    background:none;
    border:none;
    color:rgb(122, 122, 122);
    font-size: 18px;
}

.delete{
    background:none;
    border:none;
    color:rgb(122, 122, 122);
    font-size: 18px;
}
/* button attributes end */

h1{
    font-size: 20px;
    font-weight: 700;
}
.innerVerify{
    font-size:20px;
    background:none;
    border:none;
    color:rgb(141, 141, 141);
}

input{
    border-radius: 10px;
    border:0px solid rgb(124, 124, 124);
    width:500px;
    height:30px;
    margin:10px;
    font-size:15px;
    text-align: center;
}

.pageText{
    border-top: 2px solid  rgb(124, 124, 124);
    text-align:center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    padding-top: 30px;
    color: rgb(141, 141, 141);
}

/* content attributes start*/
#lookupInfo{
    display:grid;
    justify-content: left;
    color:white;
    margin-left:15px;
}

#updateInfo{
    display:grid;
    justify-content: left;
    color:white;
    margin-left:15px;
    /* align-items: center; */
}

#trueOrFalse{
    display:flex;
    justify-content: left;
    align-items: center;
    color:white;
    margin-left:15px;
}

#containsInfo{
    display:grid;
    justify-content: left;
    color:white;
    margin-left:15px;
}

#addInfo{
    display:grid;
    justify-content: left;
    color:white;
    margin-left:15px;
    /* align-items: center; */
}
/* content attributes end*/

.center{
    display:flex;
    justify-content: left;
    align-items:top;
}

.greyWord{
    font-size: 20px;
    text-align : right;
    color: white;

}

.innerButtons{
    background:none;
    border:none;
    color:rgba(126, 126, 126, 0.7);
    font-size: 20px;
}

#innerUpdate{
    position: absolute;
    left:50%;
    background:none;
    border:none;
    color:rgba(126, 126, 126, 0.7);
    font-size: 20px;
}
#innerAdd{
    position: absolute;
    left:50%;
    background:none;
    border:none;
    color:rgba(126, 126, 126, 0.7);
    font-size: 20px;
}
.positionText{
    margin: 20px;
    font-size:15px;
}

.fa-address-book{
    display: grid;
    justify-content: center;
    align-items: center;
}
.fa-search{
    color:white;
    display: grid;
    justify-content: left;
    align-items: left;
}

#mainButton{
    background:none;
    border:none;
    color:white;
}
#yellowText{
    text-align:center;
    color: yellow;
    font-size: 18px;
}

#allTopText{
    font-size: 20px;
    color:white;
}

#whiteColor{
    color:white;
}

#positionSearch{
    position: fixed;
    left:700px;
    top:161px;
}
/* #mainTitleText{
    display:grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
} */















/* .body{
    height: 100%;
}
main{
    display:grid;
    grid-template-rows: 2fr;
    grid-template-columns: 50px 1fr;
    height: 100%;
    grid-gap: 10px;
}
.grid{
    display:grid;
    justify-content: center;
    align-items: center;
    height:  100%;
    background-color: blue;
}
.navgrid{
    display:grid;
    grid-template-rows:7fr;
    grid-template-columns: 50px;
    height: 100%;
    grid-gap:10px;

} 
 
.navi{
    display:grid;
    justify-content: center;
    align-items: center;
    height:100%;
    background-color: grey;
}

.rowtwo{
    display:grid;
    grid-row: span 2;
    grid-column: span 1;
} */
